In [1]:
from MovieRecomendation import MovieRecommendation as mr
import pandas as pd
import numpy as np

In [8]:
# Генерация случайных данных для 25 пользователей и 10 фильмов
np.random.seed(42)  # Для воспроизводимости
m = 128
n = 74
data = np.random.randint(0, 2, size=(m, n))

# Названия фильмов
movies = [f"Movie {i+1}" for i in range(n)]

# Индексы пользователей
users = [f"User {i+1}" for i in range(m)]

# Создаем DataFrame
UI_matrix = pd.DataFrame(data, index=users, columns=movies)

UI_matrix.head()  # Показать первые 5 строк

,Movie 1,Movie 2,Movie 3,Movie 4,Movie 5,Movie 6,Movie 7,Movie 8,Movie 9,Movie 10,...,Movie 65,Movie 66,Movie 67,Movie 68,Movie 69,Movie 70,Movie 71,Movie 72,Movie 73,Movie 74
User 1,0,1,0,0,0,1,0,0,0,1,...,0,1,1,0,1,1,1,1,0,1
User 2,0,1,1,1,0,1,0,1,0,1,...,0,0,1,0,1,1,1,0,0,0
User 3,0,1,0,0,0,0,0,1,0,1,...,0,0,0,0,1,0,1,0,0,0
User 4,1,1,1,1,0,1,0,0,1,1,...,0,0,0,1,0,0,0,1,1,1
User 5,1,0,0,1,0,0,0,1,1,0,...,1,0,0,1,0,0,1,1,0,0

In [13]:
recommender = mr(n_recommendations=5, test=False)

# Обучаем модель
recommender.fit(UI_matrix)

# Рекомендуем фильмы пользователю с индексом 0
recomended = recommender.recommend(user=0)

print(recomended, '\n', len(recomended), '\n', len(recommender.unseen))

['Movie 14', 'Movie 16', 'Movie 31', 'Movie 32', 'Movie 59']
 5
 36

In [14]:
recommender = mr(n_recommendations=5, test=True)

# Обучаем модель
recommender.fit(UI_matrix)

# Рекомендуем фильмы пользователю с индексом 0
recomended = recommender.recommend(user=0)

print(recomended, '\n', len(recomended), '\n', len(recommender.unseen))

['Movie 38', 'Movie 39', 'Movie 22', 'Movie 42', 'Movie 68']
 5
 36